# ##############################################################################
# iCEcube PCF
# Version:            2017.08.27940
# File Generated:     Dec 27 2017 13:52:16
# Family & Device:    iCE40HX4K
# Package:            TQ144
# ##############################################################################


set_io LED1 71 #P52
set_io LED2 67 #P53
#set_io LED3 #P54
#set_io LED4 #P55

###IOSet List 11
set_io clk25 129

#pmod 2
set_io A[14] 87 # rd1
set_io A[12] 90 # rd3
set_io A[10] 93 # rd5
set_io A[8] 95 # rd7

#pmod 1
set_io A[15] 85 # rd0
set_io A[13] 88 # rd2
set_io A[11] 91 # rd4
set_io A[9] 94 # rd6

#pmod 4
set_io A[6] 96 #P15
set_io A[4] 98 #P14
set_io A[2] 101 #P13
set_io A[0] 104 #P12

#pmod 3
set_io A[7] 97 #P11
set_io A[5] 99 #P10
set_io A[3] 102 #P9
set_io A[1] 105 #P8

#pmod 6
set_io M1 106 #P23
set_io RD 110 #P22
set_io z80_clk 113 #P21
set_io MRQ 144 #P20

#pmod 5
set_io IORQ 107 #P19
set_io RST 112 #P18
set_io INT 114 #P17
set_io WR 143 #P16

#pmod 8
set_io D[0] 3 #P31
set_io D[2] 4 #P30
set_io D[4] 7 #P29
set_io D[6] 8 #P28

#pmod 7
set_io D[1] 1 #P27
set_io D[3] 2 #P26
set_io D[5] 9 #P25
set_io D[7] 10 #P24


# VGA Output - Matches Digilent PmodVGA plugged into PMOD7/8/9/10

set_io GREEN[3]    15 # PMOD35 = PMOD 9/10 pin  5
set_io GREEN[2]    16 # PMOD34 = PMOD 9/10 pin  7
set_io GREEN[1]    19 # PMOD33 = PMOD 9/10 pin  9
set_io GREEN[0]   20 # PMOD32 = PMOD 9/10 pin 11

set_io VS       17 # PMOD37 = PMOD 9/10 pin 10
set_io HS       18 # PMOD36 = PMOD 9/10 pin 12

#pmod 11 lvds pairs 14 & 25
set_io RED[3]     21 # 14a
set_io RED[2]     22 # 14B
set_io RED[1]     33 # 25a
set_io RED[0]     34 # 25b

#pmod 12 lvds pairs 18 & 24
set_io BLUE[3]    25 # 18a
set_io BLUE[2]    26 # 18b
set_io BLUE[1]    31 # 24a
set_io BLUE[0]    32 # 24b
